$Lightgreen:rgb(107, 251, 175);
$teal:rgb(18, 136, 73);
.app{
    display: flex;
    justify-content: center;
    .container{
        width: 1024px;
        //Login & Register
        .link{
            text-decoration: none;
            color: inherit;
        }
        .auth{
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $Lightgreen;

        }
        h1{
            font-size: 30px;
            color: $teal;
            margin-bottom: 20px;
        }
        form{
            display: flex;
            flex-direction: column;
            padding: 45px;
            background-color: white;
            width: 250px;
            gap: 20px;

            input{
                padding: 10px;
                border: none;
                border-bottom: 1px solid grey;
            }
            button{
                padding: 10px;
                background-color: $teal;
                border:none;
                cursor: pointer;
                color: white;
            }
            p{
                color: red;
                text-align: center;
                font-size: small;
            }
            span{
                text-align: center;
            }
        }
     //Navbar
     .navbar{
         .container{
             padding: 10px 0px;
             display: flex;
             justify-content: space-between;
             text-align: center;
             .logo{
                img{
                    height: 100px;
                    width: 100px;

                }
             }
             .links{
                 display: flex;
                 align-items: center;
                 gap: 12px;
                h6{
                    font-size: 16px;
                    font-weight: 350;
                }
                span{
                    cursor: pointer;
                }
                .write{
                        background-color: $Lightgreen;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 350;
                        border: 1px solid white;
                        &:hover{ 
                            color: $teal;
                            background-color: white;
                            border: 1px solid $teal;
                        }
                }
             }
         }
     } //Footer
     
     footer{
         padding: 10px;
         margin-top: 100px;
         background-color: $Lightgreen;
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-size: 15px;
         img{
             height: 50px;
             width: 50px;

         }

     }
     //Home Page
     .home{
         .posts{
             margin-top: 50px;
             display: flex;
             flex-direction: column;
             gap: 150px;
         }
         .post{
             display: flex;
             gap: 100px;

             &:nth-child(2n+1){
                 flex-direction: row-reverse;
             }

             .img{
                 flex: 2;
                 position: relative;
                 &::after{
                     position: absolute;
                     top: 20px;
                     z-index: -1;
                     left: -20px;
                     content: "";
                     width: 100%;
                     height: 100%;
                     background-color: $Lightgreen;
                 }
                 
             }
             .img{
                width: 100%;
                max-height: 400px;
                object-fit: cover;
             }
             .content{
                 flex:3;
                 display: flex;
                 justify-content: space-between;
                 flex-direction: column;

                 h1{
                        font-size: 50px;
                 }
                 p{
                        font-size: 20px;
                 }
                 button{
                     width: max-content;
                     padding: 10px 20px;
                     cursor: pointer;
                     border: none;
                     background-color: white;
                     border: 1px solid $Lightgreen;
                     color: $teal;
                 
                 &:hover{
                     border: 1px solid white;
                     background-color: $Lightgreen;
                     color: black;
                 }
                }
             }
         }
     }
//Single Page
.single{
    display: flex;
    gap: 50px;
    .content{
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 10px;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
            span{
                font-size: bold;
            }
        }
        .edit{
            gap: 5px;
            display: flex;
            img{
            cursor: pointer;
            object-fit: cover;
            width: 20px;
            height: 20px;
            }

        }
        h1{
            font-size: 42px;
            color: #333;
        }
        p{
            text-align: justify;
            line-height: 28px;
        }
    }
    .menu{
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
            font-size: 20px;
            color: #555;
            margin-top: -10px;
            
        }
        .post{
            display: flex;
            flex-direction: column;
            gap: 5px;
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            h2{
                color: #555;
            }
            button{
                width: max-content;
                padding: 7.5px 15px;
                cursor: pointer;
                border: none;
                background-color: white;
                border: 1px solid $Lightgreen;
                color: $teal;
            
            &:hover{
                border: 1px solid white;
                background-color: $Lightgreen;
                color: black;
            }
           }
        }
    }
}
    //Write
    .add{
        margin-top: 20px;
        display: flex;
        gap: 20px;
        .content{
         flex:5;
         display: flex;
         flex-direction: column;
         gap: 20px;

         input{
             padding: 10px;
             border: 1px solid lightgray;
         }
         .editContainer{
             height: 300px;
             overflow: scroll;
             border: 1px solid  lightgray;
         }
         .editor{
             height: 100%;
             border: none;
         }
        }
        .menu{
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            .item{
                border: 1px solid lightgray;
                padding: 10px;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 13px;
                gap: 8px;
                color: #555;

                h1{
                    font-size: 25px;
                }
                .file{
                    text-decoration: none;
                    cursor: pointer;
                    
                }
                .buttons{
                    display: flex;
                    justify-content: space-between;

                    :first-child{
                        cursor: pointer;
                        color: $teal;
                        border: 1px solid $teal;
                        background-color: white;
                        color: $teal;
                        padding: 3px 5px;
                    }

                    :last-child{
                        cursor: pointer;
                        color: $teal;
                        background-color: $teal;
                        border: 1px solid $teal;
                        color: white;
                        padding: 3px 5px;
                    }

                }
                .cat{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: $teal;
                }
            }


        }
    }
    }
}
